.scrollable-container {
  width: 80px; /* Set the desired width */
  overflow: auto; /* or overflow: scroll; */
}
.scrollable-container1 {
  width: 100%; /* Set the desired width */
  overflow: auto; /* or overflow: scroll; */
}

.singer-name {
  overflow: hidden;
  white-space: nowrap;
}

.singer-name .singer {
  display: inline-flex; /* Ensure both elements are displayed on the same line */
  align-items: center; /* Align items vertically */
}

.music-icon {
  display: inline-block; /* Ensure the icon and text are displayed inline */
}

.singer-name .singer {
  animation: scroll 20s linear infinite; /* Adjust the duration as needed */
}

.container .duration{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.container .progress-bar{
  width: 100%;
  background-color: #e0e0e0;
  height: 6px;
  border-radius: 5px;
  position: relative;
}
.progress-bar .progress{
  position: absolute;
  background-color: #ff5722;
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
